@import "variables";

header {
    background-color: $green;
    height: 160px;
    .container {
        height: 160px;
        a {
            color: $white;
            font-family: $lato;
            font-size: 20px;
        }
        a:hover {
            color: $orange;
        }
    }
}

#navbarSupportedContent ul {
    display: flex;
    a {
        text-decoration: none;
        padding-left: 30px;
    }
}

#navbarDropdown:hover {
    color: $white;
}

#navbar-drop-connect {
    background-color: $green;
    a:hover {
        color: $orange;
    }
}
#box-link-nav-mobile {
    display: flex;
    align-items: center;
    #link-nav a {
        padding-left: 30px;
        text-decoration: none;
    }
    #links-login {
        padding-left: 50px;
        a {
            display: none;
        }
    }
}

#nav-connexion {
    background-color: $green;
    color: $white;
}

#logo-header {
    height: 140px;
    img {
        width: 140px;
    }
}

#photo_profil {
    height: 60px;
    width: 60px;
}

#link-nav-mobile {
    background-color: $green;
}

/**************** Responsive ****************/

@media screen and (max-width: 767px) {
    #navbarDropdown {
        display: none;
    }
    #box-link-nav-mobile {
        padding: 20px;
        background-color: $green;
        width: 100%;
        flex-direction: column;
        #link-nav {
            flex-direction: column;
            justify-content: center;
            a {
                padding: 0px;
                text-decoration: none;
                color: $white;
                font-size: 40px;
                text-align: center;
            }
        }
        #links-login {
            justify-content: center;
            padding: 0px;
            a {
                display: flex;
                padding: 0px;
                font-size: 40px;
                text-align: center;
                justify-content: center;
            }
        }
    }

    #link-nav-mobile {
        flex-direction: column;
        #link-nav-mobile-menu {
            flex-direction: column;
            align-items: start !important;
        }
    }
}

@media screen and (max-width: 501px) {
    header {
        height: 300px;
        nav .container {
            height: 250px;
            flex-wrap: nowrap !important;
            flex-direction: column;
        }

        #box-link-nav-mobile {
            padding: 10px;
            a {
                font-size: 30px;
            }
        }
    }
}
