@import 'variables';

header {
    background-color: $green;
    height: 160px;
    .container {
        height: 160px;
    }
}

#logo-header {
    height: 140px;
}

#photo_profil {
    height: 80px;
    width: 80px;
}