@import "variables";

// Hero
#hero {
    height: 40em;
    background-image: url(http://[::1]:5173/public/images/hero.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $mukta;
    h1 {
        color: $white;
        width: 40%;
        padding: 20px;
        background-color: $orange;
        border-radius: 10px;
        margin-left: 50px;
        font-size: 3rem;
    }
    #hero-links {
        margin-left: 50px;
        width: 40%;
        height: 170px;
        #hero-link-register {
            background-color: $green;
            color: $white;
            border-radius: 30px;
            font-size: 2em;
            width: 60%;
        }
        #hero-link-register:hover {
            color: $orange;
        }
        #hero-link-login {
            color: $white;
            font-weight: 600;
            font-size: 1.5em;
        }
        #hero-link-login:hover {
            color: $orange;
        }
    }
}

// Section Infos
#section-infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $orange;
        font-family: $mukta;
        font-size: 30px;
    }
    ul,
    p {
        color: $green;
        font-family: $lato;
        font-size: 20px;
    }
}

#section-infos-container1 {
    margin: 40px 70px 40px 40px;
    display: flex;
    justify-content: space-around;
    
    #section-infos-bloc1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 10px;
        width: 40%;
        #bloc1-image-mobile {
            display: none;
        }
    }
    img {
        width: 800px;
    }
}

#section-infos-container2-desktop {
    margin: 40px 0px;
    background-color: $green;
    border-radius: 15px;
    width: 90%;
    height: 270px;
    display: flex;
    img {
        width: 200px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #section-infos-bloc2 {
        width: 85%;
        padding: 30px 140px;
        p {
            width: 75%;
            color: $white;
        }
    }
}

#section-infos-container2-mobile {
    margin: 40px 0px;
    background-color: $green;
    border-radius: 15px;
    width: 90%;
    display: none;
    #section-infos-bloc2-mobile {
        margin: 30px 0px;
        img {
            width: 100%;
        }
        p {
            color: $white;
        }
    }
}


#section-infos-container3 {
    margin: 40px 0px;
    h2 {
        text-align: end;
        padding-right: 150px;
    }
    p {
        margin-top: 20px;
        margin-left: 20px;
        background-color: $green;
        color: $white;
        padding: 20px 40px;
        border-radius: 60px;
        width: 70%;
    }
    #mockups-box {
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
}

// Section Recipes
#section-recipes {
    padding: 60px;
    background-color: $orange;
    color: $green;
    h2 {
        padding-bottom: 60px;
        font-family: $mukta;
        font-size: 3em;
        font-weight: 600;
    }
    .recipes-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        img {
            border-radius: 5px;
        }
        p {
            border-radius: 0px 0px 5px 5px;
            font-family: $lato;
            font-size: 20px;
        }
        .imgRecipe1 {
            grid-area: 1 / 1 / 2 / 3;
        }

        .imgRecipe2 {
            grid-area: 1 / 3 / 2 / 6;
        }
        .imgRecipe3 {
            grid-area: 2 / 1 / 3 / 4;
        }
        .imgRecipe4 {
            grid-area: 2 / 4 / 3 / 6;
        }

        .titleRecipe1 {
            grid-area: 1 / 1 / 2 / 3;
            align-self: end;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.6);
        }
        .titleRecipe2 {
            grid-area: 1 / 3 / 2 / 6;
            align-self: end;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.6);
        }
        .titleRecipe3 {
            grid-area: 2 / 1 / 3 / 4;
            align-self: end;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.6);
        }
        .titleRecipe4 {
            grid-area: 2 / 4 / 3 / 6;
            align-self: end;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }

    .recipes-container-mobile {
        display: none;
    }

    a {
        font-family: $lato;
        background-color: $green;
        padding: 15px 40px;
        border-radius: 20px;
        color: $white;
        font-family: $mukta;
        font-size: 30px;
        text-decoration: none;
        margin-right: 50px;
    }
    a:hover {
        color: $orange;
    }
}

// Section Contact
#section-contact {
    height: 20em;
    background: url(http://[::1]:5173/public/images/bg-accueil-contact.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    div {
        width: 50%;
        height: 20em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2 {
            margin-top: 30px;
            font-family: $mukta;
            font-size: 45px;
            color: $green;
            text-align: left;
        }
        a {
            font-family: $lato;
            background-color: $green;
            padding: 15px 40px;
            border-radius: 20px;
            color: $white;
            font-family: $mukta;
            font-size: 30px;
            text-decoration: none;
            margin-right: 50px;
        }
        a:hover {
            color: $orange;
        }
    }
}

// Pré-Footer
#pre-footer {
    height: 18em;
    display: flex;
    justify-content: center;
    color: $green;
    font-size: $lato;
    #container-pre-footer {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0px 10px;
        i {
            font-size: 40px;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
}

/**************** Responsive ****************/

@media screen and (max-width: 1024px) {
    #hero {
        h1 {
            width: 60%;
        }
        #hero-links {

            width: 60%;
        }
    }

#section-infos-container1 {
   
    #section-infos-bloc1 {
        width: 50%;
        #bloc1-image-mobile {
            display: none;
        }
    }
    img {
        width: 600px;
    }
}

#section-infos-container2-desktop {
    margin: 40px 0px;
    width: 90%;
    #section-infos-bloc2 {
        width: 100%;
        padding: 10px 20px;
        p {
            width: 80%;
        }
    }
}
}

@media screen and (max-width: 900px) {

    #pre-footer {
        height: 17em;
        #container-pre-footer {
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px) {
    #hero {
        align-items: center;
        h1 {
            width: 80%;
            margin-left: 0px;
        }
        #hero-links {
            width: 80%;
            margin-left: 0px;
        }
    }



    #section-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h2 {
            color: $orange;
            font-family: $mukta;
            font-size: 40px;
        }
        ul,
        p {
            color: $green;
            font-family: $lato;
            font-size: 22px;
        }
    }
    
    #section-infos-container1 {
        margin: 40px;
        justify-content: center;
        #section-infos-bloc1 {
            width: 100%;
            padding: 0px;
            h2 {
                text-align: center;
                margin-top: 30px;
                margin-bottom: 20px;
            }
            #bloc1-text {
                margin-top: 30px;
            }
            #bloc1-image-mobile {
                display: flex;
                justify-content: center;
            }
        }
            #bloc1-image-desktop {
                display: none;
            }
        }
    #section-infos-container2-desktop {
        display: none;
    }
    #section-infos-container2-mobile {
        display: flex;
    }
    
    #section-infos-container3 {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            text-align: center;
            padding: 0px 10px;
        }
        p {
            margin-top: 20px;
            margin-left: 20px;
            background-color: $green;
            color: $white;
            padding: 20px 40px;
            border-radius: 60px;
            width: 90%;
        }
        #mockups-box {
            flex-direction: column;
            align-items: center;
            #imgMobile {
                padding-left: 30px;
                padding-bottom: 20px;
            }
            #imgTablet {
                padding-right: 40px;
                padding-bottom: 20px;
            }
        }
    }
    

    #section-recipes .recipes-container {
        display: none;
    }
    #section-recipes {
        padding: 50px 30px;
        .recipes-container-mobile {
            display: grid;
            grid-template-columns: 10px 300px 10px;
            grid-template-rows: 170px 30px 170px 30px 170px 30px 170px 30px;
            grid-column-gap: 1px;
            grid-row-gap: 25px;
            justify-content: center;
            img {
                border-radius: 5px;
            }
            p {
                border-radius: 0px 0px 5px 5px;
                font-family: $lato;
                font-size: 20px;
            }
            .mobileImgRecipe1 {
                grid-area: 1 / 2 / 3 / 3;
            }
            .mobileImgRecipe2 {
                grid-area: 3 / 2 / 5 / 3;
            }
            .mobileImgRecipe3 {
                grid-area: 5 / 2 / 7 / 3;
            }
            .mobileImgRecipe4 {
                grid-area: 7 / 2 / 9 / 3;
            }
            .mobileTitleRecipe1 {
                grid-area: 2 / 2 / 3 / 3;
                align-self: end;
                height: 60px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            .mobileTitleRecipe2 {
                grid-area: 4 / 2 / 5 / 3;
                align-self: end;
                height: 60px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            .mobileTitleRecipe3 {
                grid-area: 6 / 2 / 7 / 3;
                align-self: end;
                height: 60px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            .mobileTitleRecipe4 {
                grid-area: 8 / 2 / 9 / 3;
                align-self: end;
                height: 60px;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
        a {
            margin: 70px 0px;
        }
    }

    #section-contact {
        height: 25em;
        div {
            width: 70%;
            height: 25em;
            h2 {
                margin-top: 20px;
                font-family: $mukta;
                font-size: 35px;
                text-align: left;
            }
            a {
                font-size: 24px;
            }
        }
    }

    #pre-footer {
        height: 50em;
        max-height: 70em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #container-pre-footer {
            width: 80%;
        }
    }
}

@media screen and (max-width: 425px) {

    #hero {
        #hero-links {
            #hero-link-register {
                width: 80%;
                padding: 20px 30px;
            }
        }
    }
    
#section-infos-container1 {
    margin: 10px;
    
    #section-infos-bloc1 {
        width: 100%;
        #bloc1-image-mobile {
            display: flex;
            justify-content: center;
        }
    }
        #bloc1-image-desktop {
            display: none;
        }
    }

    #section-contact {
        height: 25em;
        div {
            width: 100%;
            height: 25em;
            h2 {
                margin-top: 20px;
                padding-right: 20px;
                font-family: $mukta;
                font-size: 35px;
                text-align: right;
            }
            a {
                font-size: 24px;
                margin: 0;
            }
        }
    }
}