// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Sections
@import "header";
@import "welcome";
@import "footer";
@import "contact";

body {
    max-width: 1440px;
    margin: 0 auto;
    h2 {
        color: $green;
        font-family: $mukta;
        font-weight: 600;
    }
    p {
        color: $green;
        font-family: $lato;
        font-size: 20px;
    }
}

// Style de formulaires
.card {
    margin: 80px 0px;
    border-color: $orange;
    color: $green;

    .card-header {
        font-size: 20px;
        border-color: $orange;
        background-color: $orange;
        color: $green;
    }
}
#form {
    color: $green;
    border-color: $green;
    input,
    textarea,
    a {
        border-color: $orange;
        color: $green;
    }
    .form-check-input {
        background-color: $orange;
    }

    button {
        background-color: $orange;
        color: $green;
        padding: 10px 30px;
        border-color: $orange;
        border-radius: 5px;
    }
}

#list-recipes {
    color: $green;
    a i {
        color: $green;
        padding: 0px 10px;
    }
    button {
        border: none;
        background: none;
        color: $green;
        padding: 0px 10px;
    }
}
// Page A propos
#a-propos {
    img {
        border-radius: 15px;
    }
    span {
        color: $orange;
        font-weight: 600;
    }
    a {
        background-color: $green;
        color: $white;
        padding: 10px 25px;
        border-radius: 45px;
        font-size: 20px;
    }
    a:hover {
        color: $orange;
    }
}

// Page Home
#semainier {
    //background-image: url(http://[::1]:5173/public/images/bg-accueil-contact.webp);
    background-size: contain;
    background-position: unset;
    border-radius: 15px;
    margin: 80px 30px;
    color: $orange;
    #semainier-meals {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .meal-content {
        // grid-column-start: 2;
        // grid-column-end: 8;
        // grid-row: 2 / 3;
        border: 1.5px solid $green;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .empty-header,
    .day-header,
    .meal-type-header {
        text-align: center;
    }
    .meal-type {
        grid-column-start: 1;
    }
    .day-header {
        grid-template-columns: 1fr;
    }
}

// Back Office
#backOffice {
    color: $green;
    li a {
        text-decoration: none;
        padding: 10px 30px;
        background-color: $orange;
        color: $green;
        border-radius: 5px;
        font-weight: 600;
        font-size: 20px;
    }
    li a:hover {
        color: $white;
        background-color: $green;
    }
    table {
        td {
            color: $green;
            font-size: 16px;
            i {
                color: $green;
                font-size: 20px;
            }
            button {
                padding: 0;
                background: none;
                color: inherit;
                border: none;
                font-size: 20px;
            }
            #deleteUser {
                margin-top: 0.3rem;
            }
        }
    }
}

/**************** Responsive ****************/

@media screen and (max-width: 575px) {
    #form {
        width: 100%;
        margin: 0px 10px;
        .form-group {
            padding: 0px 5px;
        }
    }
    #apropos-box {
        flex-direction: column !important;
        justify-content: center;
        margin: 0 !important;
        p {
            padding: 0 !important;
        }
    }
}
